<nav class="nevegation">
      <div class="left">BONATIVO</div>

      <div class="menu-link">
        <div>
        <a href="/">HOME</a>
        </div>
        <div>
        <a href="/about">ABOUT</a>
        </div>
        <div>
        <a href="/blog">BLOG</a>
        </div>
        <div>
        <a href="/work">WORK</a>
        </div>
        <div>
        <a href="/services">SERVICES</a>
        </div>
        <div>
        <a href="/blogpost">BLOG POST</a>
        </div>
        <div>
        <a href="/pages">PAGES</a>
        </div>
        <div>
        <a href="/contact">CONTACT</a>
        </div>
      </div>
    </nav>