<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://kit.fontawesome.com/ea8fc65910.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/style.css" />
</head>

<body>

  <div class="contenar">
   {{> header}}
    <div class="sub-contenar">
      <div class="MX1">
        <div class="mx1">MODERN</div>
        <div class="mx2">AGENCY</div>
      </div>

      <div class="MX2">Lorem, ipsum dolor sit amet consectetur adipi?</div>
      <div class="Mx3">
        <button>SEE MORE</button>
      </div>
    </div>
  </div>
  <div class="container2">
    <div class="main-head">
      <p class="px1">MODERN DIGITAL
        <span>AGENCY</span>
      </p>
      <div class="main-head2">
        <p>
          We Are A Creativity Agency Located In
          <span>Sydney,Australia.</span>
          It Is A Long Established Fact That A Reader
        </p>
        <p class="px2">Will Be Distracted By The Readable Content</p>
      </div>
    </div>
    <div class="items">
      <div class=" item1">

        <div class="logo1">
          <i class="fa-regular fa-lightbulb"></i>
        </div>
        <div class="itrm1-content">
          <p>CREATIVE DESIGNS</p>
          <div class="para1">
            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis,
            tristique diam, ut ullamcorper tellus. Cras porttitor massa.
          </div>

        </div>
      </div>
      <div class=" item2">
        <div class="logo2">
          <i class="fa-solid fa-gear"></i>
        </div>
        <div class="item2-content">
          <p>CREATIVE DESIGNS</p>


          <div class="para2">

            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis,
            tristique diam, ut ullamcorper tellus. Cras porttitor massa.
          </div>
        </div>
      </div>

      <div class=" item3">
        <div class="logo3">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </div>
        <div class="itrm3-content">
          <p>CREATIVE DESIGNS</p>
          <div class="para3">
            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis,
            tristique diam, ut ullamcorper tellus. Cras porttitor massa.
          </div>
        </div>
      </div>
      <div class=" item4">
        <div class="logo4">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="itrm4-content">
          <p>CREATIVE DESIGNS</p>
          <div class="para4">
            Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis,
            tristique diam, ut ullamcorper tellus. Cras porttitor massa.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info-1">
    <div class="boxes">
      <div class="box1">
        <p class="num">654</p>
        <p>Happy Clients</p>
      </div>
      <div class="box2">
        <p class="num">832</p>
        <p>Projects finish</p>
      </div>
      <div class="box3">
        <p class="num">800</p>
        <p>Pizza ordered</p>
      </div>
      <div class="box4">
        <p class="num">750</p>
        <p>Cups of coffee</p>
      </div>
    </div>
  </div>
  <section class="team">
    <div class="head-box">
      <p class="head">
        BONATIVA
        <span>TEAM</span>
      </p>
      <p class="descp">
        Vivamus Congue Diam
        <span>Vitae Tortor</span>
        Imperdiet Congue. Nullam Sagittis, Tristique Diam, Ut
      <p> Ullamcorper Tellus. Cras Porttitor Massa.</p>
      </p>
    </div>
    <div class="boxes-b">
      <div class="box-1">
        <img src="./img/team-1.jpg" alt="">
        <div class="team-logo">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <p>DANIEL SMITH</p>
        <p>manager</p>
      </div>
      <div class="box-1">
        <img src="./img/team-2.jpg" alt="">
        <div class="team-logo">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <p>DANIEL SMITH</p>
        <p>manager</p>
      </div>
      <div class="box-1">
        <img src="./img/team-3.jpg" alt="">
        <div class="team-logo">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <p>DANIEL SMITH</p>
        <p>manager</p>
      </div>
    </div>
  </section>
  <div class="sevices">
    <div class="head-box">
      <p class="head">
        OUR
        <span>TEAM</span>
      </p>
      <p class="descp">
        Why You Choose
        <span>Bonativo</span>
      </p>
    </div>
    <div class="boxes-1">
      <div class="box-1">
        <i class="fa-brands fa-telegram"></i>
        <div class="content">
          <h3>MARKETING</h3>
          <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus.
            Cras porttitor massa.</p>
        </div>
      </div>
      <div class="box-1">
        <i class="fa-thin fa-clone"></i>
        <div class="content">
          
          <h3>WEB AND GRAPHICS DESIGNS</h3>
          <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus.
            Cras porttitor massa.</p>
        </div>
      </div>
      <div class="box-1">
        <i class="fa-solid fa-globe"></i>
        <div class="content">
          <h3>SICIAL MEDIA</h3>
          <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus.
            Cras porttitor massa.</p>
        </div>
      </div>
      <div class="box-1">
        <i class="fa-solid fa-users"></i>
        <div class="content">
          <h3>CREATIVE IDEAS</h3>
          <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus.
            Cras porttitor massa.</p>
        </div>
      </div>
      <div class="box-1">
        <i class="fa-brands fa-telegram"></i>
        <div class="content">
          <h3>RESPONSIVE DESIGN</h3>
          <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus.
            Cras porttitor massa.</p>
        </div>
      </div>
      <div class="box-1">
        <i class="fa-solid fa-users"></i>
        <div class="content">
          <h3>CUSTOMER SUPPORT</h3>
          <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus.
            Cras porttitor massa.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-2">
    <div class="box-1">
      <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus.</p>
      <p>Maria Navratilova - Codeflicks inc.</p>
    </div>
  </div>
<div class="pricing">
  <div class="head-box">
    <p class="head">
      OUR
      <span>PRICING</span>
    </p>
    <p class="descp">
      Vivamus Congue Diam
      <span>Bonativo</span>
      Imperdiet Congue.
    </p>
  </div>
  <div class="boxes-2">
    <div class="box-2">
      <h1 class="first">STANDARD</h1>
      <div class="subbox-1">
        <h2>$3.99</h2>
        <p>start price / month</p>
      </div>
      <div class="subox-2">
        <ul>
          <li>10 GB Storage Space</li>
          <li>50 GB Bandwidth</li>
          <li>Unlimited Users</li>
          <li>No Time Tracking</li>
          <li>Enhanced Security</li>
        </ul>
        <button class="btn">BUY NOW</button>
      </div>
    </div>
    <div class="box-2">
      <h1 class="secound">STANDARD</h1>
      <div class="subbox-1">
        <h2>$3.99</h2>
        <p >start price / month</p>
      </div>
      <div class="subox-2">
        <ul>
          <li>10 GB Storage Space</li>
          <li>50 GB Bandwidth</li>
          <li>Unlimited Users</li>
          <li>No Time Tracking</li>
          <li>Enhanced Security</li>
        </ul>
        <button class="btn-1">BUY NOW</button>
      </div>
    </div>
    <div class="box-2">
      <h1 class="first">STANDARD</h1>
      <div class="subbox-1">
        <h2>$3.99</h2>
        <p>start price / month</p>
      </div>
      <div class="subox-2">
        <ul>
          <li>10 GB Storage Space</li>
          <li>50 GB Bandwidth</li>
          <li>Unlimited Users</li>
          <li>No Time Tracking</li>
          <li>Enhanced Security</li>
        </ul>
        <button class="btn">BUY NOW</button>
      </div>
    </div>
  </div>
</div>
<div class="more">
  <h1>WE'VE GOT PLENTY MORE TO SAY</h1>
  <div>
  <button >LET'S TALK</button>
  </div>
</div>
<div class="portfolio">
  <div class="head-box">
    <p class="head">
      BONATIVA
      <span>PORTFOLIO</span>
    </p>
    <p class="descp">
      Vivamus Congue Diam
      <span>Bonativo</span>
      Imperdiet Congue.
    </p>
  </div>
<div class="boxes-3">
  <div class="box-3">
   <div>
     <p>Branding</p>
   </div>
    <img src="./img/work-1.jpg" alt="">
  </div>
  <div class="box-3">
    <div>
      <p>Branding</p>
    </div>
    <img src="./img/work-2.jpg" alt="">
  </div>
  <div class="box-3">
    <div>
      <p>Branding</p>
    </div>
    <img src="./img/work-3.jpg" alt="">
  </div>
 <div class="box-3">
    <div>
    <p>Branding</p>
  </div>
    <img src="./img/work-4.jpg" alt="">
  </div>
  <div class="box-3">
   <div>
    <p>Branding</p>
   </div> 
    <img src="./img/work-5.jpg" alt="">
  </div>
  <div class="box-3">
    <div><p>Branding</p>
    </div>
    <img src="./img/work-6.jpg" alt="">
  </div>
  <div class="box-3">
    <div>
    <p>Branding</p>
  </div>
    <img src="./img/work-7.jpg" alt="">
  </div>
  <div class="box-3">
    <div>
    <p>Branding</p>
  </div>
    <img src="./img/work-8.jpg" alt="">
  </div>
  <div class="box-3">
    <div>
    <p>Branding</p>
  </div>
    <img src="./img/work-9.jpg" alt="">
  </div>
  </div>
</div>
<div class="news">
  <div class="head-box">
    <p class="head">
      BONATIVA
      <span>NEWS</span>
    </p>
    <p class="descp">
      Vivamus Congue Diam
      <span>Bonativo</span>
      Imperdiet Congue.
    </p>
  </div>
</div>
</body>

</html>